Repository kivy/kivy, pull requests merged in 2021-05, with the labels that each got.

#7509 CI: Switch rsa ssh key to ed25519 for server upload
  .ci/ubuntu_ci.sh
  .ci/windows-server-upload.sh
Labels: Component: tests/CI

#7502 MultitouchSimulatorTestCase: Don't render widgets in tests
  kivy/tests/test_mouse_multitouchsim.py
Labels: Component: tests/CI

#7508 App: Process app quit event while paused
  kivy/core/window/window_sdl2.py
Labels: Component: core-app, Platform: Android, Priority: High, SDL2, Status: Confirmed, Type: Bug

#7513 Tests: Latest pyinstaller includes fixes for tests
  .ci/windows_ci.ps1
Labels: Component: tests/CI

#7512 EventLoopBase: Start/stop event loop only once
  kivy/base.py
Labels: Component: core-app

#7494 MouseHoverEventTestCase: Dispatching event on_cursor_leave to cleanup some tests
  kivy/tests/test_mouse_hover_event.py
Labels: Component: tests/CI

#7492 MouseMotionEventProvider: Refactor of provider and tests
  kivy/input/providers/mouse.py
  kivy/tests/test_mouse_hover_event.py
Labels: Component: input

#7505 EventLoopBase: Remove provider from auto-remove list
  kivy/base.py
Labels: Component: core-app

#7515 GraphicUnitTest: Fix signature of tearDown method to use (*args, **kwargs)
  kivy/tests/test_module_inspector.py
  kivy/tests/test_mouse_hover_event.py
  kivy/tests/test_uix_actionbar.py
  kivy/tests/test_uix_slider.py
Labels: Component: tests/CI

#7516 MouseHoverEventTestCase: Removed skip of test methods on Windows CI
  kivy/tests/test_mouse_hover_event.py
Labels: Component: tests/CI

#7517 Core: Use importlib's __import__ for compatibility with patching
  kivy/core/__init__.py
  kivy/factory.py
  kivy/lang/parser.py
  kivy/modules/__init__.py
Labels: Component: core-providers

#7520 Video: Fixed handling eos after unloading
  kivy/uix/video.py
Labels: Component: Widgets

#7536 EventDispatcher: Add nicer error message for non-existing properties
  kivy/_event.pyx
  kivy/tests/test_properties.py
Labels: Component: core-widget

#7527 Label: Fix label not displaying as disabled if it is disabled when created
  kivy/uix/label.py
Labels: Component: Widgets
