Repository kivy/kivy, pull requests merged in 2021-04, with the labels that each got.

#7445 EventDispatcher: Rename method unregister_event_types to unregister_event_type
  kivy/_event.pyx
Labels: Component: core-widget

#7461 AsyncImageTestCase: Fix for test_reload_asyncimage method and cleanup
  kivy/tests/common.py
  kivy/tests/test_uix_asyncimage.py
Labels: Component: tests/CI

#7387 Mouse: Update MouseMotionEventProvider to dispatch hover events
  kivy/input/motionevent.py
  kivy/input/providers/mouse.py
  kivy/tests/test_mouse_hover_event.py
  kivy/tests/test_mouse_multitouchsim.py
Labels: Component: input

#7467 Text: Raise when registering a font_regular with None
  kivy/core/text/__init__.py
Labels: Component: core-providers

#7449 TextInput: Fix readonly mode preventing using cursor keys
  kivy/core/window/__init__.py
  kivy/core/window/window_sdl2.py
  kivy/uix/textinput.py
Labels: Component: core-widget

#7418 Fixes video thread that sleep before dispatching eos.
  kivy/core/video/video_ffpyplayer.py
Labels: Component: core-providers

#7471 Add support for preview image to Video
  kivy/uix/image.py
  kivy/uix/video.py
Labels: Component: Widgets

#7481 Doc: Properties spelling fix
  kivy/properties.pyx
Labels: Component: documentation

#7488 FocusBehavior: Fix assumption that modifiers is always a set.
  kivy/uix/behaviors/focus.py
Labels: Component: Widgets

#7459 Properties: Accept str-subclass where we accept strings
  kivy/properties.pyx
Labels: Component: core-widget

#7484 WindowBase: Add to_normalized_pos method
  kivy/core/window/__init__.py
  kivy/tests/test_window_base.py
Labels: Component: core-providers

#7495 CI: Removed unused id_rsa.enc. ssh keys are in the secret env
  .ci/id_rsa.enc
Labels: Component: tests/CI
