Repository kivy/kivy, pull requests merged in 2021-01, with the labels that each got.

#7300 Logger: Remove refactoring artifact
  kivy/logger.py
Labels: Component: core-app

#7301 Doc: Add Kivy config example for inverted mtdev events
  kivy/input/providers/mtdev.py
Labels: Component: documentation

#7303 Camera: Fix AVFoundation provider to release the camera, start it async, and check if started before stopping it
  kivy/core/camera/camera_avfoundation.pyx
  kivy/core/camera/camera_avfoundation_implem.m
Labels: Component: core-providers

#7322 Widget: fix export_to_png not passing arguments through
  kivy/tests/test_widget.py
  kivy/uix/widget.py
Labels: Component: Widgets

#7231 Keyboard: Add keyboard suggestions and fix input type on android
  kivy/core/window/__init__.py
  kivy/core/window/_window_sdl2.pyx
  kivy/core/window/window_pygame.py
  kivy/core/window/window_sdl2.py
  kivy/uix/behaviors/focus.py
  kivy/uix/textinput.py
Labels: Component: core-providers

#7270 Graphics: Check whether user updated GL instructions from external thread.
  .ci/ubuntu_ci.sh
  kivy/config.py
  kivy/graphics/cgl.pxd
  kivy/graphics/cgl.pyx
  kivy/graphics/context_instructions.pyx
  kivy/graphics/fbo.pyx
  kivy/graphics/gl_instructions.pyx
  kivy/graphics/instructions.pxd
  kivy/graphics/instructions.pyx
  kivy/graphics/scissor_instructions.pyx
  kivy/graphics/stencil_instructions.pyx
  kivy/graphics/vertex_instructions.pyx
  kivy/graphics/vertex_instructions_line.pxi
  kivy/tests/test_graphics.py
Labels: Component: graphics, Notes: Release-highlight

#7292 Benchmarks: Add benchmarks option measurements to pytest
  .ci/ubuntu_ci.sh
  .ci/windows_ci.ps1
  .github/workflows/manylinux_wheels.yml
  .github/workflows/test_ubuntu_python.yml
  .github/workflows/test_windows_python.yml
  .github/workflows/windows_wheels.yml
  kivy/tests/test_benchmark.py
  pyproject.toml
  setup.cfg
Labels: Component: tests/CI

#7293 Properties: Add dynamic screen density/dpi support
  kivy/_event.pxd
  kivy/_event.pyx
  kivy/_metrics.pxd
  kivy/_metrics.pyx
  kivy/base.py
  kivy/core/window/__init__.py
  kivy/metrics.py
  kivy/properties.pxd
  kivy/properties.pyx
  kivy/tests/conftest.py
  kivy/tests/fixtures.py
  kivy/tests/test_metrics.py
  kivy/tests/test_properties.py
  setup.py
Labels: Component: core-app, Notes: Release-highlight

#7299 Window: Handle DPI Windows messages until SDL2 handles them
  kivy/core/window/__init__.py
  kivy/core/window/window_sdl2.py
  kivy/input/providers/wm_common.py
  kivy/metrics.py
Labels: Component: core-providers

#7341 OSX: Use platform.machine() for osx version detection
  setup.py
Labels: Component: Packaging, Platform: OSX

#7342 TabbedPanel: Doc calling `switch_to` from `__init__`
  doc/sources/contribute.rst
  kivy/uix/tabbedpanel.py
Labels: Component: documentation

#7344 App: fix Trio example in docstring
  kivy/app.py
Labels: Component: documentation

#7339 Camera: Android camera focus mode fix
  kivy/core/camera/camera_android.py
Labels: Component: core-providers

#7347 Window: Delay binding dpi until window is ready.
  kivy/core/window/__init__.py
Labels: Component: core-providers
