Repository kivy/kivy, pull requests merged in 2021-10, with the labels that each got.

#7610 Added scroll from swipe feature in TextInput
  kivy/uix/textinput.py
Labels: Component: Widgets

#7647 WindowBase: Change type of clearcolor property to ColorProperty
  kivy/core/window/__init__.py
Labels: Component: core-providers

#7644 MouseMotionEventProvider: Update doc of disable_hover property
  kivy/input/providers/mouse.py
Labels: Component: input

#7672 fix various docs
  kivy/clock.py
  kivy/effects/dampedscroll.py
  kivy/effects/kinetic.py
  kivy/effects/scroll.py
Labels: Component: documentation

#7659 MotionEvent: Fix scale_for_screen method
  kivy/input/motionevent.py
  kivy/tests/test_motion_event.py
Labels: Component: input
