Repository kivy/kivy, pull requests merged in 2023-06, with the labels that each got.

#8276 `Image`: Fix stencil instructions leaking to user `canvas.before`/`canvas` instructions
  kivy/data/style.kv
Labels: Component: Widgets

#8283 backport: Limit stencil to inner instructions
  kivy/data/style.kv
Labels: Component: Widgets

#8288 backport (#8263): Increase timeout of httpbin tests to reduce risk of failures on CI runs
  kivy/tests/test_urlrequest/test_urlrequest_urllib.py
Labels: Component: tests/CI

#8289 Update CHANGELOG for 2.2.1 (#8287)
  doc/sources/changelog.rst
Labels: Component: documentation

#8228 Added a flag to force the use of custom drawing line function.
  kivy/graphics/vertex_instructions_line.pxi
  kivy/tests/test_graphics.py
Labels: Component: graphics

#8270 Allow `Scale` and `Translate` to take `x`, `y` and `z` as `kwargs`. Removes deprecated `Scale().scale` property.
  kivy/graphics/context_instructions.pyx
  kivy/tests/test_animations.py
  kivy/tests/test_graphics.py
Labels: Component: graphics
