Repository kivy/kivy, pull requests merged in 2023-10, with the labels that each got.

#8387 Docs: Fix grammar
  doc/sources/gettingstarted/installation.rst
Labels: Component: documentation

#8392 Now Github Actions provides python3 via setup-python also for Apple Silicon Macs
  .ci/osx_ci.sh
  .github/workflows/osx_wheels_app.yml
  .github/workflows/test_osx_python.yml
Labels: Component: tests/CI

#8345 Prevent apps from crashing when `sys.stderr` is `None` (pythonw and pyinstaller 5.7)
  kivy/logger.py
  kivy/tests/test_logger.py
Labels: Component: core-app

#8383 Fix stencil operations when `KIVY_WINDOW=x11`
  kivy/core/window/window_x11_core.c
Labels: Component: core-app

#8271 Fix `SmoothLine` rendering issues
  kivy/graphics/vertex_instructions_line.pxi
Labels: Component: graphics

#8389 Fixes a regression that prevents the setting panel to load
  kivy/uix/settings.py
Labels: Component: Widgets

#8405 Introduce `clear_stencil` option in `StencilPush`, to allow disabling stencil clearing and improve GPU performance when using Stencil Instructions
  kivy/graphics/stencil_instructions.pxd
  kivy/graphics/stencil_instructions.pyx
Labels: Component: graphics

#8411 Removes broken support e-mail address in the README.md, and improve the support section
  README.md
Labels: Component: documentation

#8342 Clipboard: fixes blank string being pasted into clipboard when using the default `win32` backend
  kivy/core/clipboard/clipboard_winctypes.py
  kivy/tests/test_clipboard.py
Labels: Component: core-providers

#8415 Fix cgl_backend build with clang 16
  kivy/graphics/cgl.pxd
  kivy/graphics/cgl_backend/cgl_debug.pyx
  kivy/graphics/cgl_backend/cgl_gl.pyx
  kivy/graphics/cgl_backend/cgl_mock.pyx
Labels: Component: graphics

#8413 Expose new `clear_stencil` property in `StencilPush`
  kivy/graphics/stencil_instructions.pxd
  kivy/graphics/stencil_instructions.pyx
Labels: Component: graphics

#8309 Add graphics with antialiasing: `SmoothRectangle`, `SmoothEllipse`, `SmoothRoundedRectangle`, `SmoothQuad` and `SmoothTriangle`
  kivy/factory_registers.py
  kivy/graphics/__init__.py
  kivy/graphics/vertex_instructions.pyx
  kivy/tests/test_graphics.py
Labels: Component: graphics, Notes: Release-highlight

#8404 Add tests for `create_json_panel` method of `Settings`
  kivy/tests/test_uix_settings.py
Labels: Component: tests/CI

#8426 Install `setuptools` before `sdist` generation, as `setuptools` is not anymore available by default on `3.12`
  .ci/ubuntu_ci.sh
Labels: Component: tests/CI

#8301 Rework custom `garden` importer to avoid usage of `imp` module (removed in Python `3.12`)
  kivy/garden/__init__.py
  kivy/tests/test_garden.py
Labels: Component: Misc
