Repository kivy/kivy, pull requests merged in 2024-03, with the labels that each got.

#8638 Update python-for-android link packaging-android.rst
  doc/sources/guide/packaging-android.rst
Labels: Component: documentation

#8633 Typo: "kiby" instead of "kivy" in global variable in _text_pango.pyx
  kivy/core/text/_text_pango.pyx
Labels: Component: core-providers

#8630 Add `Window.unrotated_size`, simplify, clean-up and fix `Window.size` and `Window._density` logic.
  kivy/core/window/__init__.py
  kivy/core/window/_window_sdl2.pyx
  kivy/core/window/window_sdl2.py
  kivy/input/providers/mouse.py
  kivy/lib/sdl2.pxi
  kivy/tests/test_window_base.py
Labels: Component: core-providers

#8581 Use `filetype` as `imghdr` built-in module is deprecated and slated for removal in Python 3.13
  kivy/core/image/__init__.py
  setup.cfg
Labels: Component: core-providers

#8640 Typo: Docs grammar issue in loader.py (been/be)
  kivy/loader.py
Labels: Component: documentation

#8642 New <Getting started> link for Apple Developer in Docs
  doc/sources/guide/packaging-ios-prerequisites.rst
Labels: Component: documentation

#8385 Rename `CaptureDelegate` to `KivyCaptureDelegate` in `AVFoundationCamera` to avoid duplicated symbols
  kivy/core/camera/camera_avfoundation_implem.m
Labels: Component: core-providers

#8534 Introduce `ANGLE` GL provider on Apple platforms on top of SDL2 window backend
  Makefile
  doc/sources/gettingstarted/installation.rst
  kivy/core/window/_window_sdl2.pyx
  kivy/graphics/cgl.pyx
  kivy/graphics/cgl_backend/cgl_angle.pyx
  kivy/graphics/egl_backend/__init__.py
  kivy/graphics/egl_backend/egl_angle.pxd
  kivy/graphics/egl_backend/egl_angle.pyx
  kivy/graphics/egl_backend/egl_angle_metal.pxd
  kivy/graphics/egl_backend/egl_angle_metal.pyx
  kivy/graphics/egl_backend/egl_angle_metal_implem.h
  kivy/graphics/egl_backend/egl_angle_metal_implem.mm
  kivy/lib/sdl2.pxi
  setup.py
  tools/build_macos_dependencies.sh
Labels: Component: graphics

#8643 `CameraAVFoundation`: Move things around reducing boilerplate for upcoming changes
  kivy/core/camera/camera_avfoundation.pyx
  kivy/core/camera/camera_avfoundation_implem.h
  kivy/core/camera/camera_avfoundation_implem.mm
  setup.py
Labels: Component: core-providers

#8656 Keep (or move) mandatory dependencies only in `install_requires`
  setup.cfg
Labels: Component: distribution

#8650 Expose a `native_handle` property on `WindowBase`
  kivy/core/window/__init__.py
  kivy/core/window/_window_sdl2.pyx
  kivy/core/window/window_sdl2.py
  kivy/core/window/window_x11.pyx
  kivy/tests/test_window_base.py
Labels: Component: core-providers

#8610 Remove all the compatibility code for Python 2.x
  examples/demo/multistroke/historymanager.py
  examples/demo/shadereditor/main.py
  kivy/_event.pyx
  kivy/animation.py
  kivy/app.py
  kivy/clock.py
  kivy/compat.py
  kivy/config.py
  kivy/core/audio/audio_gstplayer.py
  kivy/core/image/__init__.py
  kivy/core/spelling/spelling_enchant.py
  kivy/core/text/__init__.py
  kivy/core/text/_text_sdl2.pyx
  kivy/core/text/text_pil.py
  kivy/core/text/text_pygame.py
  kivy/core/text/text_sdl2.py
  kivy/core/video/__init__.py
  kivy/core/video/video_gstplayer.py
  kivy/core/window/window_pygame.py
  kivy/core/window/window_sdl2.py
  kivy/graphics/context_instructions.pyx
  kivy/graphics/fbo.pyx
  kivy/graphics/instructions.pyx
  kivy/graphics/shader.pyx
  kivy/graphics/stencil_instructions.pyx
  kivy/loader.py
  kivy/modules/cursor.py
  kivy/multistroke.py
  kivy/storage/dictstore.py
  kivy/storage/jsonstore.py
  kivy/storage/redisstore.py
  kivy/tests/test_compat.py
  kivy/tests/test_fbo.py
  kivy/tests/test_motion_event.py
  kivy/tools/benchmark.py
  kivy/uix/filechooser.py
  kivy/uix/layout.py
  kivy/uix/recycleview/layout.py
  kivy/uix/rst.py
  kivy/uix/screenmanager.py
  kivy/uix/scrollview.py
  kivy/uix/settings.py
  kivy/uix/spinner.py
  kivy/uix/tabbedpanel.py
  kivy/utils.py
  kivy/weakproxy.pyx
  setup.py
Labels: Component: Misc

#8320 Remove the deprecated `pygame` window provider
  doc/sources/guide/environment.rst
  doc/sources/guide/packaging-windows.rst
  kivy/__init__.py
  kivy/app.py
  kivy/config.py
  kivy/core/audio/__init__.py
  kivy/core/audio/audio_pygame.py
  kivy/core/clipboard/__init__.py
  kivy/core/clipboard/clipboard_pygame.py
  kivy/core/image/__init__.py
  kivy/core/image/img_pygame.py
  kivy/core/text/__init__.py
  kivy/core/text/text_pygame.py
  kivy/core/window/__init__.py
  kivy/core/window/window_pygame.py
  kivy/graphics/__init__.py
  kivy/loader.py
  kivy/tests/test_audio.py
  kivy/tests/test_imageloader.py
  kivy/uix/video.py
Labels: Component: core-providers, Notes: API-break
