Repository kivy/kivy, pull requests merged in 2025-05, with the labels that each got.

#9050 Add `get_system_theme` to `Window` to get the system's theme
  examples/miscellaneous/system_theme_monitor.py
  kivy/core/window/__init__.py
  kivy/core/window/_window_sdl3.pyx
  kivy/core/window/window_sdl3.py
  kivy/lib/sdl3.pxi
  kivy/tests/test_window_base.py
Labels: Component: core-providers

#9048 Automatically discover support for `wayland` (and ensures is available if specifically requested via `USE_WAYLAND`)
  setup.py
Labels: Component: distribution

#9056 Remove old Python 2 long from Cython files, fixes build with Cython `3.1.x`
  kivy/graphics/context_instructions.pyx
  kivy/graphics/opengl.pyx
  kivy/weakproxy.pyx
Labels: Component: graphics

#9055 Fix incompatible pointer type related issues in `SDL3_image`, `SDL3_mixer` and `SDL3` implementations
  kivy/core/audio_output/audio_sdl3.pyx
  kivy/core/image/_img_sdl3.pyx
  kivy/core/window/_window_sdl3.pyx
  kivy/lib/sdl3.pxi
  setup.py
Labels: Component: core-providers, Status: Pr Tested

#9058 Bump SDL3 version to the latest stable release (`3.2.14`)
  pyproject.toml
  setup.cfg
  tools/build_linux_dependencies.sh
  tools/build_macos_dependencies.sh
Labels: Component: Packaging

#9051 Change Emacs `kivy-mode` parent mode to `prog-mode`
  kivy/tools/highlight/kivy-mode.el
Labels: Component: core-app
