Repository kivy/kivy, pull requests merged in 2025-04, with the labels that each got.

#9029 Fallback mechanism for `SDL2` window creation when `GetDpiForWindow` returns `0` ( on Windows)
  kivy/core/window/window_sdl2.py
Labels: Component: core-providers

#9033 Resolve datetime deprecation warnings in CI scripts
  .ci/ubuntu_ci.sh
  .ci/windows_ci.ps1
Labels: Component: tests/CI

#8666 Migrate from `SDL2` to `SDL3` [build wheel]
  .ci/Dockerfile.armv7l
  .ci/ubuntu_ci.sh
  .github/workflows/manylinux_wheels.yml
  .github/workflows/osx_wheels_app.yml
  .github/workflows/test_osx_python.yml
  .gitignore
  examples/audio/pitch.py
  examples/miscellaneous/shaped_window_images/shape1.png
  examples/miscellaneous/shaped_window_images/shape2.png
  examples/miscellaneous/shaped_window_images/shape3.png
  examples/miscellaneous/shaped_window_images/shape4.png
  examples/miscellaneous/shaped_window_images/shape5.png
  examples/miscellaneous/shapedwindow.py
  kivy/__init__.py
  kivy/app.py
  kivy/base.py
  kivy/config.py
  kivy/core/audio_output/__init__.py
  kivy/core/audio_output/audio_ffpyplayer.py
  kivy/core/audio_output/audio_sdl3.pyx
  kivy/core/clipboard/__init__.py
  kivy/core/clipboard/_clipboard_sdl3.pyx
  kivy/core/clipboard/clipboard_sdl3.py
  kivy/core/image/__init__.py
  kivy/core/image/_img_sdl3.pyx
  kivy/core/image/img_sdl3.py
  kivy/core/text/__init__.py
  kivy/core/text/_text_sdl3.pyx
  kivy/core/text/text_sdl3.py
  kivy/core/video/video_ffpyplayer.py
  kivy/core/window/__init__.py
  kivy/core/window/_window_sdl3.pyx
  kivy/core/window/window_attrs.pxi
  kivy/core/window/window_egl_rpi.py
  kivy/core/window/window_info.pxd
  kivy/core/window/window_info.pyx
  kivy/core/window/window_sdl3.py
  kivy/core/window/window_x11.pyx
  kivy/data/images/defaultshape.png
  kivy/graphics/cgl.pyx
  kivy/graphics/cgl_backend/cgl_sdl3.pyx
  kivy/graphics/instructions.pxd
  kivy/graphics/instructions.pyx
  kivy/input/providers/__init__.py
  kivy/lib/sdl3.pxi
  kivy/metrics.py
  kivy/tests/pyinstaller/simple_widget/main.spec
  kivy/tests/pyinstaller/video_widget/main.spec
  kivy/tests/test_image.py
  kivy/tests/test_imageloader.py
  kivy/uix/label.py
  kivy/uix/vkeyboard.py
  pyproject.toml
  setup.cfg
  setup.py
  tools/build_linux_dependencies.sh
  tools/build_macos_dependencies.sh
Labels: Component: core-providers, Notes: API-break, Notes: Release-highlight

#9035 Rename GL provider `angle_sdl2` to `angle_sdl3`
  .github/workflows/test_windows_python.yml
  .github/workflows/windows_wheels.yml
  FAQ.md
  doc/sources/gettingstarted/installation.rst
  kivy/core/window/_window_sdl3.pyx
  kivy/graphics/cgl.pyx
Labels: Component: core-providers, Notes: API-break

#9031 Added missing method, `goto_view()` to RecycleView layouts
  kivy/uix/recycleboxlayout.py
  kivy/uix/recyclegridlayout.py
  kivy/uix/recycleview/layout.py
Labels: Component: core-widget

#9039 Include information on new display when a `windowdisplaychanged` event is recognized
  kivy/core/window/_window_sdl3.pyx
Labels: Component: core-providers

#9040 Add `WindowInfoAndroid` for `SDL3` Window manager
  kivy/core/window/_window_sdl3.pyx
  kivy/core/window/window_attrs.pxi
  kivy/core/window/window_info.pxd
  kivy/core/window/window_info.pyx
Labels: Component: core-providers

#9043 Simplify window border management logic on Windows
  .gitignore
  kivy/core/window/window_sdl3.py
Labels: Component: core-providers

#9042 Enable return of `native_handle` on SDL3 Window provider.
  kivy/core/window/_window_sdl3.pyx
  kivy/core/window/window_info.pyx
  kivy/tests/test_window_base.py
Labels: Component: core-providers

#9044 Update `Cython` dependency max version to `3.0.12`
  pyproject.toml
  setup.cfg
Labels: Component: distribution
