Repository kivy/kivy, pull requests merged in 2025-09, with the labels that each got.

#9127 Add support for the `limit_render_to_text_bbox` feature in the SDL provider.
  .gitignore
  kivy/core/text/__init__.py
  kivy/core/text/_text_sdl3.pyx
  kivy/core/text/text_sdl3.py
  kivy/lib/sdl3.pxi
  kivy/uix/label.py
Labels: Component: core-providers

#9148 Fix kivy/tests/common.py on Python < 3.10
  kivy/tests/common.py
Labels: Component: tests/CI

#9107 Bump SDL3 version to the latest stable release (`3.2.22`)
  .github/workflows/test_windows_python.yml
  pyproject.toml
  setup.cfg
  tools/build_linux_dependencies.sh
  tools/build_macos_dependencies.sh
Labels: Component: distribution

#9146 GitHub Actions: Test on macOS 26 Tahoe
  .github/workflows/test_osx_python.yml
Labels: Component: tests/CI

#9157 lang/parser.py: Remove Python 3.6 abstract syntax tree workaround
  kivy/lang/parser.py
Labels: Component: KV-lang

#9158 Support pillow v11 for Python 3.14
  setup.cfg
Labels: Component: distribution

#9114 Use virtual time in animation tests to speed them up
  kivy/tests/test_animations.py
Labels: Component: tests/CI

#9162 GitHub Actions: Upgrade from deprecated macos-13 to macos-15-intel
  .github/workflows/osx_wheels_app.yml
  .github/workflows/test_osx_python.yml
Labels: Component: tests/CI
